<a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#credit-modal">
  Credit Assets
</a>

<div class="modal fade" id="credit-modal" tabindex="-1" aria-labelledby="credit-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="credit-modal-label">Credit Assets</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body w-100 text-center">
        <h4>Background Art by</h4>
        <h5>Free and Premium Game Assets (GUI, Sprite, Tilesets)</h5>
        <br>
        <h4>Fish Art by</h4>
        <h5>AGD-AwkwardGameDev (Itch.io)</h5>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>