<div class="from-box">
    <div class="kratong-form-box">
    <form target="hidden_iframe" id="kratong-form" action="https://docs.google.com/forms/d/e/1FAIpQLSeDWFm4upLqYxQv2TR0AvQlX6OHreEOO02jNJc8levlY0U28A/formResponse">
        <div class="form-group">
            <div class="input-label">
                <label for="sender-name">ชื่อผู้อวยพร</label>
                <span class="word-count">
                    <label id="sender-name-message">0</label>
                    <label>/{{max_name}}</label>
                </span>
            </div> 
            <input class="form-control" name="entry.172556839" (input)="val_name();count_name();" id="sender-name">
            <div class="error-label">
                <label id="sender-name-err"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-label">
                <label for="kratong-des">คำอวยพร</label>
                <span class="word-count">
                    <label id="kratong-des-message">0</label>
                    <label>/{{max_message}}</label>
                </span>
            </div> 
            <textarea class="form-control" name="entry.1400774218" (input)="val_message();count_message();" id="kratong-des"></textarea>
            <div class="error-label">
            <label id="kratong-des-err"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-label">
                <label for="entry.1482066356">ภาพปลา</label>
            </div> 
            <div class="dropup">
                <button class="btn btn-light dropdown-toggle" type="button" id="kratong-pic-select" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="kratong-img-size" id="kratong-img" src="imgs/kratongs/fish1Texture.png">
                </button>
                 <input class="hidden-obj" name="entry.1482066356" id="kratong-img-i" type="text" value="0">
                <ul class="dropdown-menu" aria-labelledby="kratong-pic-select">
                    @for (pic of kra_pics; track pic; let index = $index) { 
                        <li><a class="dropdown-item" (click)="on_change_pic(index)"><img class="kratong-img-size" src="imgs/kratongs/{{pic}}"></a></li>
                    }
                </ul>
            </div>
        </div>
    </form>
    <div class="container text-center submit-btn-box">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-primary" (click)="do_sumbit()">ส่ง</button>
            </div>
            <div class="col">
                <div class="loader" id="loader"></div>
            </div>
        </div>
    </div>
    </div>
</div>
<iframe name="hidden_iframe" class="hidden-obj" id="hidden_iframe"></iframe>