
:root{
    --k-width: 100px;
}

.kratong-box {
    width: var(--k-width);
    height: var(--k-width);
    visibility: hidden;
    position: absolute;
    z-index: 1;
} 

.clickable-box {
    width: var(--k-width);
    height: var(--k-width);
    cursor: pointer;
}

.k-message {
    width: var(--k-width);
    height: var(--k-width);
    background-color: rgba(255, 247, 247, 0.888);
    position: absolute;
    pointer-events: none;
    border-radius: 10px;
    font-family: MM_KANUN;
    opacity: 0;
}

.message-text-area {
    height: 90%;
    width: 90%;
    margin: 5%;
    background-color: transparent;
    border-color: transparent;
    resize: none;
}

.sender-name-box {
    position: absolute;
    overflow: hidden;
}

.sender-name {
    white-space: nowrap;
    position: absolute;
    width: fit-content;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    font-family: MM_KANUN;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}