
<kratong-tab-bar></kratong-tab-bar>
<div class="page-bg">
    <div class="read-box">
        <div class="container pagnination-here">
            
        </div>
        <div class="container cards-table-box">
            <div id="no_display">
                <h1 class="display-1">ยังไม่มีคำอวยพร</h1>
            </div>
            <div id="display_card" >
            <div  class="row row-cols-1 gy-3" id="loading_card">
                @for (item of [1, 2, 3]; track $index) {
                <div class="col spin-col">
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                }
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3" id="card_table">
                
            </div>
            </div>
        </div>
        <div class="container pagnination-here">

        </div>
    </div>
</div>